<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        crossorigin="anonymous" />

    <title>{% block title %}Home{% endblock %}</title>
</head>

<body>

    <nav class="navbar navbar-expand-xl navbar-dark bg-dark justify-content-center">
        <div class="collapse navbar-collapse" id="navbar">
            <div class="navbar-nav container-fluid">
                <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
                <a class="nav-item nav-link" id="home" href="/">Home</a>
                <a class="nav-item nav-link" id="attacks" href="/identify-hash">Identify Hash</a>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="attacks" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        Create Attack
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="/bruteforce-attack">Bruteforce Attack</a>
                        <a class="dropdown-item" href="/dictionary-attack">Dictionary Attack</a>
                        <a class="dropdown-item" href="/mask-attack">Dictionary Attack with Mask</a>
                    </div>
                </li>
                <a class="nav-item nav-link" id="attacks" href="/attacks">Attacks and Hashes</a>
                <a class="nav-item nav-link" id="connected-client" href="/connected-clients">Connected Clients</a>
                <a class="nav-item nav-link" id="connected-client" href="/configuration">Task Distribution
                    Configuration</a>

                <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            </div>
        </div>
    </nav>
    <div>






    <!-- <nav class="navbar navbar-expand-lg navbar-dark py-2 bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>

            <a class="navbar-brand mx-auto" id="home" href="/">Home</a>
            <li class="navbar-brand mx-auto dropdown">
                <a class="navbar-brand mx-auto dropdown-toggle" href="#" id="attacks" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Create Attack
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="/bruteforce-attack">Bruteforce Attack</a>
                    <a class="dropdown-item" href="/dictionary-attack">Dictionary Attack</a>
                </div>
            </li>
            <a class="navbar-brand mx-auto" id="attacks" href="/attacks">Attacks and Hashes</a>
            <a class="navbar-brand mx-auto" id="connected-clients" href="/connected-clients">Connected Clients</a>

            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            <a class="navbar-brand mx-auto" id="signUp" href="/"></a>
            
        </div>
    </nav> -->







    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% else %}
    <div class="alert alert-success alter-dismissable fade show" role="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %} {% endfor %} {% endif %} {% endwith %}

    <div class="container">{% block content %} {% endblock %}</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <!-- <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script> -->
</body>

</html>