{% extends "base.html" %} {% block title %}Create Attack{% endblock %} {% block content
%}
<div class="container my-5">
    <div class="p-5 pb-0 pe-lg-0 pt-lg-5 rounded border shadow-lg">
        <form method="POST" id="bruteforce-form">
            <h2 align="center" class="display-4 font-weight-bold lh-2">Create Attack with Mask</h2>
            <div class="form-group">
                <label for="hash">Hash to Crack</label>
                <input class="form-control" id="hash" name="hash" placeholder="Enter hash" />
            </div>
            <div class="form-group" hidden>
                <label for="attack_type">Hash to Crack</label>
                <input class="form-control" id="attack_type" name="attack_type" value="mask" />
            </div>

            <div class="form-group">
                <label for="hash_type">Hash Type</label>
                <select class="form-control" name="hash_type" id="hash_type">
                    <option value="" selected disabled>Choose hash type</option>
                    <option value="0">MD5</option>
                    <option value="1">SHA1</option>
                    <option value="1400">SHA2-256</option>
                    <option value="1700">SHA2-512</option>
                    <option value="17400">SHA3-256</option>
                    <option value="17600">SHA3-512</option>
                </select>
            </div>

            <div class="form-group">
                <label for="hash_type">Dictionary</label>
                <select class="form-control" name="dictionary" id="dictionary">
                    <option value="" selected disabled>Choose mask list</option>
                    {% for dictionary in dictionaries_list %}
                    <option value="{{ dictionary }}">{{ dictionary }} [{{ dictionaries_list[dictionary] }}]</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <label for="hash_type">Rule</label>
                <select class="form-control" name="mask" id="mask">
                    <option value="" selected disabled>Choose mask list</option>
                    {% for mask in mask_list %}
                    <option value="{{ mask }}">{{ mask }} [{{ mask_list[mask] }}]</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Run Attack</button>
        </form>

    </div>
</div>

{% endblock %}